:root {
	--primary-color: #4DA4EA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button {
	font-family: "Ubuntu", sans-serif;
	color: #6e6e6e;
}

.header {
	box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.showListButton, .liButton, .text_area_btn {
	all: unset;
	cursor: pointer;
	background-color: var(--primary-color);
	color: #fff;
	padding: 12px 24px;
	min-width: 200px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid var(--primary-color);
	transition: .3s;
}

.showListButton:hover, 
.liButton:hover {
	background-color: transparent;
	color: rgb(130, 224, 255);
}

.showListButton:disabled {
	opacity: 0.3;
	cursor: not-allowed;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
	text-decoration: none;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	list-style: none;
	width: 70%;
}

.listItem {
	width: 100%;
	border-radius: 4px;
	box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
	padding: 20px;
	margin-bottom: 5px;
	display: flex;
	gap: 12px;
	justify-content: space-between;
	align-items: center;
}

.completed {
	background-color: #7fffd462;
}

.completed p {
	text-decoration: line-through;
}

.not_completed {
	background-color: #ff9c9ca4;
}

.maninpulations-block {
	display: flex;
	gap: 16px;
}

.maninpulations-block {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}

.hidden {
	display: none;	
}

.add-todo,
.search-todo {
	all: unset;
	border-radius: 4px;
	box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
	padding: 8px;
}

.maninpulations-block button {
	all: unset;
	cursor: pointer;
	background-color: var(--primary-color);
	color: #fff;
	padding: 8px 16px;
	width: 50px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid var(--primary-color);
	transition: .3s;
}

.maninpulations-block button:hover {
	background-color: transparent;
	color: rgb(130, 224, 255);
}

@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i");

.rocket-loader {
    animation: moveParticles 6s linear infinite;
    background: linear-gradient(90deg, gray, transparent 10%) 0 20%/180% 0.2rem repeat-x, linear-gradient(90deg, gray, transparent 20%) 0 80%/150% 0.2rem repeat-x, linear-gradient(90deg, gray, transparent 5%) 0 65%/100% 0.2rem repeat-x, linear-gradient(90deg, gray, transparent 5%) 0 40%/220% 0.2rem repeat-x, linear-gradient(0, #161616, #161616);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: inset 0 0 60px 0 rgba(0, 0, 0, 0.1);
    height: 125px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 125px;
	display: none;
}

.rocket-loader::before {
    animation: blink 1s infinite;
    bottom: 6%;
    content: "Loading...";
    font-size: 12px;
    left: 0;
    position: absolute;
    right: 0;
}

@keyframes moveParticles {
    100% {
        background-position-x: -500rem;
    }
}

.rocket {
    animation: moveRocket 2s linear infinite;
    background: lightgray;
    background: linear-gradient(#927EF4, purple, #927EF4);
    border-left: 3px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%/30%;
    height: 15%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
}

.rocket::before,
.rocket::after {
    content: "";
    position: absolute;
}

.rocket::before {
    animation: rotateFins 1s infinite;
    background: #bababa;
    background: linear-gradient(#927EF4, purple, #927EF4);
    border: 2px solid transparent;
    border-radius: 0 50% 50% 0;
    height: 140%;
    top: 50%;
    transform: translate(0, -50%);
    left: 6px;
    width: 20%;
}

.rocket::after {
    border: 7px solid transparent;
    border-left: 14px solid rgba(146, 126, 244, 0.7);
    ;
    border-radius: 15%;
    right: -16px;
    top: 2px;
}

.rocket-extras {
    animation: moveExtras 1s infinite;
    background: rgba(0, 0, 0, 0.4);
    height: 2px;
    left: 12px;
    margin: -2px 0 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 10px;
}

.rocket-extras::before,
.rocket-extras::after {
    content: "";
    position: absolute;
}

.rocket-extras::before {
    background: white;
    border-radius: 50%;
    height: 5px;
    right: -7px;
    top: -1px;
    width: 5px;
}

.rocket-extras::after {
    background: purple;
    border-top: 1px solid #927EF4;
    height: 1px;
    left: -10px;
    top: 1px;
    width: 6px;
}

@keyframes moveRocket {
    0%,
    100% {
        transform: translate(-50%, calc(-50% - 1rem));
    }
    50% {
        transform: translate(-50%, calc(-50% + 1rem));
    }
}

@keyframes rotateFins {
    0%,
    100% {
        height: 140%;
    }
    50% {
        border-top: 2px solid #927EF4;
        border-bottom: 2px solid #927EF4;
        height: 110%;
    }
}

@keyframes moveExtras {
    0%,
    100% {
        transform: translate(0, calc(-50% + 0.1rem));
    }
    50% {
        transform: translate(0, calc(-50% - 0.1rem));
    }
}

.jet {
    height: 10px;
    left: -10px;
    position: absolute;
    top: calc(50% - 5px);
    width: 10px;
}

.jet::before,
.jet::after,
.jet span {
    animation: moveSmoke 0.3s infinite;
    background: #e09100;
    border-radius: 50%;
    content: "";
    filter: blur(2px);
    height: 8px;
    left: -6px;
    opacity: 1;
    position: absolute;
    transform: translate(0, 0) scale(1);
    top: 1px;
    width: 15px;
}

.jet::after {
    animation-delay: 0.1s;
}

.jet span {
    animation-delay: 0.2s;
}

@keyframes moveSmoke {
    100% {
        filter: blur(3px);
        opacity: 0;
        transform: translate(-40px, 0) scale(2);
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
}

.changeTodo {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

.changeEvent {
    position: absolute;
    border: 1px solid;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.575);
    opacity: 1;
}

textarea {
    all: unset;
    width: 97%;
    height: 96px;
    resize: none;
    padding: 6px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
}


.text_area_btn {
    margin-top: 6px;
    min-width: 20%;
    background-color: #4DA4EA;
}